<!DOCTYPE html>
<html lang="en">
<title>Kanaka Design & Build</title>
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
  href="{{ site.baseurl }}/feed.xml" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

<body>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-black w3-collapse w3-top w3-large w3-padding"
    style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
      style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <img id="logo" src="images/Kanaka Logo 1.png" alt="">
    </div>
    <div class="w3-bar-block">
      <a href="{{ site.baseurl }}/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
      <a href="{{ site.baseurl }}/#showcase" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-white">Showcase</a>
      <a href="{{ site.baseurl }}/#founders" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-white">Founders</a>
      <a href="{{ site.baseurl }}/#about" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-white">About Us</a>
      <a href="{{ site.baseurl }}/#contact" onclick="w3_close()"
        class="w3-bar-item w3-button w3-hover-white">Contact</a>
    </div>
    <div class="w3-panel w3-large">
      {% include svg-icons.html %}
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Kanaka</span>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>
  <div id="main" role="main" class="container">
    {{ content }}
  </div>
  </div>

  <!-- W3.CSS Container -->
  <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px">
    <p class="w3-right">Created with  &#10084;&#65039; by <a href="https://rakademi.github.io/" title="W3.CSS" target="_blank"
        class="w3-hover-opacity">(R)akademi</a></p>
  </div>

  <script>
    // Script to open and close sidebar
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>

</body>

</html>
